.venv/
__pycache__/
.vscode/
.env
*.py[cod]
dados/cotacoes_b3/*.ZIP
dados/cache/
dados/*.xlsx
!dados/analise_capm_embraer.xlsx
!dados/resultado_capm_embraer.xlsx
!dados/dados_capm_embraer.xlsx
dados/graficos/*.png
!dados/graficos/retornos_mensais_embraer.png
!dados/graficos/regressao_capm_embraer.png
dados/streamlit/
!dados/streamlit/
dados/streamlit/*
!dados/streamlit/embraer/
!dados/streamlit/embraer/*.csv
.pytest_cache/
.ruff_cache/
.tmp/
pytest-cache-files-*/
